# === Global Python ===
__pycache__/
*.pyc

# === Env variables ===
.env

# === Frontend ===
frontend/node_modules/

# === Backend-specific ignores ===
backend/chunks.json
backend/pinecone_utils_old.py
backend/setup_pinecone.py
